  <!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>All Products-Kitabalaya</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Prompt:ital,wght@0,300;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
</head> 
<body>
  
<div class = "container" >
    <div class ="navbar">
    <div class= "logo">
       <a href="index.html"> <img src ="images/Kitabalaya%20(1).png" width ="120px"></a>
    </div>
      <nav>
      <ul id="MenuItems">
          <li><a href = "index.html">Home</a></li>
          <li><a href = "products.html">Product</a></li>
          <li><a href = "about.html">About</a></li>
          <li><a href = "contact.html">Contact</a></li>
          <li><a href = "account.html">Logout</a></li>
        
          </ul>
      </nav>
        <a href="cart.html"> <img src="images/cart.png" width="30px" height="30px"></a>
         <img src="images/menuicon.png" class="menu-icon" 
            onclick="menutoggle()">
 </div>
   
    </div>
    <!------------ single product details -------->
    
   <div class ="small-container single-product">
       <div class="row">
            <div class="col-2">
                <img src="images/physics.jpg" width="100%" id="ProductImg">
                
                <div class="small-img-row">
                 <div class ="small-img-col">
                        <img src="images/f1.jpg" width="100%" class="small-img">
                    </div>
                    <div class ="small-img-col">
                        <img src="images/f2.jpg" width="100%" class="small-img">
                    </div>
                    <div class ="small-img-col">
                        <img src="images/f3.jpg" width="100%" class="small-img">
                    </div>
                    <div class ="small-img-col">
                        <img src="images/f4.jpg" width="100%" class="small-img">
                    </div>
                </div>
           </div>
           
            <div class="col-2">
                <p> Home / Book</p>
                <h1>Physics</h1>
                <h4>Owner's contact detail</h4>
                <h5>Name: Henry Kenwey</h5>
                <h5>Phone Number: 9834236413</h5>
                <h5>Email: Henry@gmail.com</h5>
                 <h4>Orginal Price: Rs 500</h4>
                <h2>Current Price: Rs 250</h2>
                <a href="Coupons.html" class="btn"> Add to wishlist</a>
                <h3>Book condition</h3>
                <p>It's condition is quite good. Used for 2 months only</p>
            </div>
            
           
           </div> 
       </div>
   <!--------------title--------->
    <div class ="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <a href="products.html"> <p>View More</p></a>
        </div>
    </div>
    <!--------------products-------->
    
   <div class="small-container">


        <div class="row">
            <div class="col-4">
                <a href="product%20details%20.html"><img src="images/physics.jpg"></a>
                <h4>Physics</h4>
                <div class="rating">
                 <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                </div>
                <p> Rs 250 </p>
            </div>
            <div class="col-4">
                <a href="Chemistry.html"><img src="images/chemistry.jpg"></a>
                <h4>Chemistry</h4>
                <div class="rating">
                  <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                </div>
                <p> Rs 300 </p>
            </div>
            <div class="col-4">
                <a href="Biology.html"><img src="images/biology.jpg"></a>
                <h4>Biology</h4>
                <div class="rating">
                   <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
                </div>
                <p> Rs 400 </p>
            </div>
            <div class="col-4">
                <a href="me_before_you.html"><img src="images/me1.jpg"></a>
                <h4>Me before you</h4>
                <div class="rating">
                  <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                </div>
                <p> Rs 350 </p>
            </div>
             <div class="col-4">
        <a href="kiterunner.html"> <img src="images/kite.jpg"></a>
            <h4>Kite runner</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
             <p> Rs 250 </p>
             </div>
        <div class="col-4">
        <img src="images/Pom.jpg">
            <h4>Principle of management</h4>
            <div class="rating">
               <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
             <p> Rs 300 </p>
             </div>
        <div class="col-4">
        <img src="images/biology.jpg">
            <h4>Biology</h4>
            <div class="rating">
            <i class="fa fa-star" ></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
             <p> Rs 400 </p>
             </div>
        <div class="col-4">
        <img src="images/acc.jpg">
            <h4>Account</h4>
            <div class="rating">
            <i class="fa fa-star" ></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
             <p> Rs 350 </p>
             </div>


        <!-------footer--------->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download our app</h3>
                        <p>Coming soon for both Android and IOS</p>
                        <div class="app-logo">
                            <img src="images/googleplay.png">
                            <img src="images/appst.svg">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="images/Kitabalaya%20(1).png">
                        <p>Our purpose is to make the use of used books/notes and providing the cheaper option for reader</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="Coupons.html">Coupons</a></li>
                            <li><a href="Coupons.html">Blog post</a></li>
                            <li><a href="Coupons.html">Return policy</a></li>
                            <li><a href="Coupons.html">Join affiliate</a></li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow us on</h3>
                        <ul>
                            <li> <a href="https://www.facebook.com">Facebook</a></li>
                            <li> <a href="https://www.instagram.com">Instagram</a></li>
                            <li> <a href="https://www.twitter.com">Twitter</a></li>
                            <li> <a href="https://www.tiktok.com">Titok</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--------js for toggle menu------>
        <script>
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle() {
                if (MenuItems.style.maxHeight == "0px") {
                    MenuItems.style.maxHeight == "200px";
                }
                else {
                    MenuItems.style.maxHeight == "0px";
                }
            }
        </script>


        <!--------js for product gallery ------>
        <script>
            var ProductImg = document.getElementById("ProductImg");
            var SmallImg = document.getElementsByClassName("small-img");

            SmallImg[0].onclick = function () {
                ProductImg.src = SmallImg[0].src;
            }
            SmallImg[1].onclick = function () {
                ProductImg.src = SmallImg[1].src;
            }
            SmallImg[2].onclick = function () {
                ProductImg.src = SmallImg[2].src;
            }
            SmallImg[3].onclick = function () {
                ProductImg.src = SmallImg[3].src;
            }
        </script>

</body>
</html>